<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceAreaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceAreaSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44305/WebServiceArea.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAreaSoap"
                contract="ServiceReferenceAreas.WebServiceAreaSoap" name="WebServiceAreaSoap" />
        </client>
    </system.serviceModel>
</configuration>